<div class="app-header">
    <img src="/assets/header.svg" alt="Game Score Tracker">
</div>

<section id="login-section">
    <h2>Login</h2>
    <form id="login-form">
        <input
            name="username"
            type="text"
            placeholder="Username"
            required,
            maxlength="20"
        />

        <input
            name="password"
            type="password"
            placeholder="Password"
            required,
            maxlength="20"
        />
        
        <button type="submit">Login</button>
        <p>Don't have an account? Click <a href="#" id="create-account-link">here</p>
    </form>
</section>

<pre id="output"></pre>